<% if actions_by_date.any? %>
  <% actions_by_date.each do |date, times| %>
    <%= render 'layouts/date_divider', title: format_date(Date.today) == format_date(date) ? "Today" : format_date(date) %>
    <div class="mb-10">
      <% times.each do |(time, user_id), actions| %>
        <div class="flex justify-between">
          <div class="mb-4">
            <% if actions.all? { |a| a.class.name == "Gig" } %>
              <%= render 'multi_gig', items: actions %>
            <% elsif actions.all? { |a| a.class.name == "Response" } %>
              <%= render 'multi_response', items: actions %>
            <% else %>
              <% actions.each do |action| %>
                <%= render 'feed/list_item', item: action %>
              <% end %>
            <% end %>
          </div>
          <span class="text-xs italic text-right"><%= format_time(time) %></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
