<% if actions.any? %>
  <% actions.each do |action| %>
    <% if action.gig_id %>
      <div class="flex justify-between items-center mb-2">
        <div class="max-w-[70VW]">
          <span class="flex">
            <%= render 'layouts/user', user: action.user %>
            <% if action.kind == "post" %>
              <span class="ml-1">posted in</span>
            <% elsif action.kind == "response" %>
              <span class="mx-1"><%= action.user.id == current_user.id ? "are" : "is" %></span>
              <%= action.status.downcase %>
              <%= action.status == "Interested" ? " in " : " to " %>
            <% elsif action.kind == "gig" %>
              <span class="ml-1">added</span>
            <% end %>
            <%= link_to action.gig_name, gig_path(action.gig_id), class: "ml-1 font-semibold text-blue-700 hover:underline" %>
          </span>
          <% if action.kind == "post" && action.text.present? %>
            <p class="ml-7 truncate italic text-sm"><%= action.text %></p>
          <% end %>
        </div>
        <span class="text-xs italic"><%= format_datetime(action.updated_at) %></span>
      </div>
    <% end %>
  <% end %>
<% end %>
