<% if responses.any? %>
  <div class="flex items-center">
    <% if inc_self %>
      <% if status == "going" %>
        <%= heroicon "check-circle", variant: :mini, options: { class: "w-5 h-5 text-green-600" } %>
      <% else %>
        <%= heroicon "star", variant: :mini, options: { class: "w-4 h-4 text-yellow-600" } %>
      <% end %>
    <% end %>
    <div class="flex items-center flex-row-reverse">
      <% responses.where.not(user_id: current_user.id).each_with_index do |response, index| %>
        <%= image_tag response.user.image, class: "rounded-full h-4 w-4#{index < responses.count - (inc_self ? 2 : 1) ? " -ml-1" : ""}" %>
      <% end %>
    </div>
    <span class="text-xs ml-1">
      <% if inc_self %>
        You
        <% if responses.count > 1 %>
          <%= " & #{responses.count - 1} other#{responses.count > 2 ? "s" : ""} " %>
          <%= in_past && status == "going" ? "went" : status %>
        <% else %>
          <% if in_past %>
            <%= status == "going" ? " went" : " were interested" %>
          <% else %>
            <%= " are #{status}" %>
          <% end %> 
        <% end %>
      <% else %>
        <%= responses.count %> <%= status %>
      <% end %>
    </span>
  </div>
<% end %>
