<% if responses.any? %>
  <div class="flex items-center">
    <% if responses.where(user_id: current_user.id).present? %>
      <% if status == "going" %>
        <%= heroicon "check-circle", variant: :mini, options: { class: "w-5 h-5 text-green-600" } %>
      <% else %>
        <%= heroicon "star", variant: :mini, options: { class: "w-4 h-4 text-yellow-600" } %>
      <% end %>
    <% end %>
    <div class="flex items-center flex-row-reverse">
      <% responses.where.not(user_id: current_user.id).each_with_index do |response, index| %>
        <%= image_tag response.user.image, class: "rounded-full h-4 w-4 #{index > 0 && index < responses.count - 1 ? "-ml-1" : ""}" %>
      <% end %>
    </div>
    <span class="text-xs ml-1">
      <% if responses.where(user_id: current_user.id).present? %>
        You
        <% if responses.count > 1 %>
          <%= " & #{responses.count - 1} other#{responses.count > 2 ? "s" : ""}" %> <%= status %>
        <% else %>
          <%= " are #{status}" %>
        <% end %>
      <% else %>
        <%= responses.count %> <%= status %>
      <% end %>
    </span>
  </div>
<% end %>
