<div class="mb-3">
  <%= form.label :url, "URL", class: "text-sm" %>
  <div class="flex items-center gap-x-2">
    <%= form.text_field :url,
      "data-link-form-target": "urlField",
      "data-action": "input->link-form#activateFetchButton",
      class: "w-full p-1 bg-slate-900"
    %>
    <button
      type="button"
      data-link-form-target="fetchButton"
      data-action="click->link-form#fetchData"
      disabled={true}
      class="p-1 text-xs font-semibold text-blue-700 border border-2 rounded cursor-pointer dark:text-blue-400 disabled:text-gray-500 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-700"
    >
      Fetch data
    </button>
  </div>
  <div data-link-form-target="status" class="text-sm font-semibold text-blue-700 dark:text-blue-400"></div>
</div>

<div class="mb-3">
  <%= form.label :text, "Text", class: "text-sm" %>
  <%= form.text_field :text, "data-link-form-target": "textField", class: "w-full p-1 dark:bg-slate-900 disabled:bg-gray-200 dark:disabled:bg-slate-700" %>
</div>

# <%= form.fields_for link.gig do |gig_form| %>
#   <div class="mb-3">
#     <%= gig_form.text_field :image, readonly: true, "data-link-form-target": "image", class: "hidden" %>
#     <div class="flex items-start justify-center hidden mx-auto my-2">
#       <img data-link-form-target="preview" alt="<%= @gig.summary %>" class="w-full h-full sm:w-1/2 md:w-1/3"/>
#       <button type="button" title="Remove image" data-link-form-target="removeButton" data-action="click->link-form#removeImage">
#         <%= heroicon "trash", options: { class: "w-5 h-5" } %>
#       </button>
#     </div>
#   </div>
# <% end %>
