<h1 class="text-xl font-bold mb-6">Add a link to <%= @gig.summary %></h1>

<%= render 'shared/error_messages', record: @link %>

<%= form_with(
  model: [@gig, @gig.links.build],
  data: { controller: "link-form" }
) do |form| %>

  <%= render 'form_fields', form: form %>

  <div class="flex justify-end">
    <%= submit_tag "Save", class: "border border-2 dark:border-gray-700 cursor-pointer rounded px-2 font-semibold hover:bg-gray-200 dark:hover:bg-gray-700" %>
  </div>
<% end %>
