<div>
  <div class="text-center">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title uppercase">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </time>

    <nav class="text-sm">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "mx-2" %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </nav>
  </div>

  <table class="border w-full table-fixed">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="p-2 uppercase text-sm font-semibold"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "py-1 border align-top h-20#{day.strftime('%Y%m') != start_date.strftime('%Y%m') ? " bg-gray-500" : day < Date.today ? " opacity-50" : ""}" do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
