<div id="reply" class="flex items-center">
  <% if parent_post.present? %>
    <span class="text-xs mr-1">Reply to:</span>
    <%= render 'posts/parent', post: parent_post, is_own: parent_post.user_id == current_user.id %>
  <% end %>
</div>

<%= form_with(model: [gig, gig.posts.build], class: "flex flex-col items-end") do |form| %>
  <%= form.hidden_field :parent_id, value: params[:parent_id] %>
  <%= form.text_area :text, value: post.text, class: "w-full", required: true, autofocus: true %>

  <%= button_tag type: "submit", class: "flex items-center border border-2 cursor-pointer rounded py-1 px-2 mt-1 ml-auto font-semibold text-sm hover:bg-gray-200" do %>
    <%= heroicon "paper-airplane", variant: :outline, options: { class: "w-4 h-4 mr-1" } %>
    Add post
  <% end %>
<% end %>
