<li class="mt-2 relative" data-controller="dropdown" data-action="mouseover->dropdown#openMenu mouseout->dropdown#closeMenu">
  <div class="flex flex-col <%= is_own ? 'items-end' : 'items-start' %>">
    <% if post.is_reply? %>
      <%= render 'posts/parent', post: post.parent, is_own: post.parent.user_id == current_user.id %>
    <% end %>
    <div class="p-2 rounded <%= is_own ? 'rounded-br-none' : 'rounded-bl-none' %> <%= is_own ? 'bg-blue-200 dark:bg-blue-700' : 'bg-gray-200 dark:bg-gray-700' %>">
      <% unless is_own %>
        <div class="text-xs flex items-center">
          <%= render 'layouts/user', user: post.user %>
        </div>
      <% end %>
      <p class="text-sm"><%= post.text %></p>
    </div>
    <p class="text-xs italic"><%= format_time(post.created_at) %></p>
    <% if post.reactions.any? %>
      <% post.reactions.each do |reaction| %>
        <%= reaction.emoji %>
      <% end %>
    <% end %>
  </div>

  <div data-dropdown-target="menu" class="absolute top-0 <%= is_own ? 'right-0' : 'left-0' %> bg-slate-200 dark:bg-slate-800 px-2 m-1 rounded hidden">
    <%= link_to "Reply", "?parent_id=#{post.id}#reply" %>
    <%= form_with(model: [post.gig, post.reactions.build] , data: { controller: "emoji-picker", "emoji-picker-target": "form" }) do |form| %>
      <%= form.hidden_field :post_id, value: post.id %>
      <%= form.hidden_field :emoji, "data-emoji-picker-target": "input" %>
      <%= button_tag "React", data: { action: "emoji-picker#toggle", "emoji-picker-target": "button" } %>
    <% end %>
  </div>
</li>
