<li class="mt-2">
  <%= link_to "?parent_id=#{post.id}#reply", class: "flex flex-col #{is_own ? 'items-end' : 'items-start'}" do %>
    <% if post.is_reply? %>
      <%= render 'posts/parent', post: post.parent, is_own: post.parent.user_id == current_user.id %>
    <% end %>
    <div class="p-2 rounded <%= is_own ? 'rounded-br-none' : 'rounded-bl-none' %> <%= is_own ? 'bg-blue-200' : 'bg-gray-200' %>">
      <% unless is_own %>
        <div class="text-xs flex items-center">
          <%= render 'layouts/user', user: post.user %>
        </div>
      <% end %>
      <p class="text-sm"><%= post.text %></p>
    </div>
    <p class="text-xs italic"><%= format_time(post.created_at) %></p>
  <% end %>
</li>
