<li
  class="mb-4 flex items-start <%= is_own ? 'flex-row-reverse' : '' %>"
  data-controller="dropdown"
>
  <div class="flex flex-col <%= is_own ? 'items-end' : 'items-start' %>">
    <% if post.is_reply? %>
      <%= render 'posts/parent', post: post.parent, is_own: post.parent.user_id == current_user.id %>
    <% end %>
    <div>
      <div
        class="p-2 rounded <%= is_own ? 'rounded-br-none' : 'rounded-bl-none' %> <%= is_own ? 'bg-blue-200 dark:bg-blue-700' : 'bg-gray-200 dark:bg-gray-700' %> relative"
        data-action="mouseover->dropdown#showMenuButton mouseout->dropdown#hideMenuButton"
      >
        <%= button_tag class: "absolute hidden top-0 right-0 bg-slate-500 shadow rounded-full", "data-dropdown-target": "button", "data-action": "click->dropdown#openMenu" do %>
          <%= heroicon "ellipsis-horizontal", options: { class: "w-5 h-5" } %>
        <% end %>
        <% unless is_own %>
          <div class="flex items-center text-xs">
            <%= render 'layouts/user', user: post.user %>
          </div>
        <% end %>
        <p class="text-sm"><%= post.text %></p>
      </div>
      <div class="flex w-full justify-between gap-x-2 <%= is_own ? 'flex-row-reverse' : '' %>" data-controller="reaction-list">
        <span class="text-xs italic"><%= format_time(post.created_at) %></span>
        <% if post.reactions.any? %>
          <div class="flex flex-col <%= is_own ? 'items-start' : 'items-end' %>">
            <div
              class="flex items-center px-1 -mt-1 rounded-full cursor-pointer bg-slate-100 dark:bg-slate-800"
              data-action="click->reaction-list#toggleReactionList"
            >
              <% post.reactions.uniq.each do |reaction| %>
                <%= reaction.emoji %>
              <% end %>
              <% if post.reactions.count > 1 %>
                <span class="ml-1 text-xs"><%= post.reactions.count %></span>
              <% end %>
            </div>
            <div
              data-reaction-list-target="list"
              class="flex flex-col hidden px-2 rounded bg-slate-200 dark:bg-slate-800 gap-y-1"
              data-action="click->reaction-list#toggleReactionList"
            >
              <%= render 'reactions/list', reactions: post.reactions %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div data-dropdown-target="menu" data-action="click:outside->dropdown#closeMenu" class="flex flex-col hidden px-2 py-1 mx-1 text-sm rounded bg-slate-200 dark:bg-slate-800 gap-y-1">
    <%= link_to "Reply", "?parent_id=#{post.id}#reply" %>
    <%= render 'reactions/form', reaction: post.reactions.find_by(user_id: current_user.id) || Reaction.new, post: post %>
  </div>
</li>
