<div class="mb-3">
  <%= form.label :description %>
  <%= form.text_field :description, value: @gig.summary, required: true, class: "w-full" %>
</div>

<div class="mb-3 flex justify-between">
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date,
      value: @gig.start.present? ? @gig.start.date.presence || @gig.start.date_time : nil,
      required: true %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date,
      value: @gig.end.present? ? @gig.end.date.presence || @gig.end.date_time : nil %>
  </div>
</div>

<div class="mb-3">
  <%= form.label :location %>
  <%= form.text_field :location, value: @gig.location, required: true, class: "w-full" %>
</div>

<div class="flex justify-end">
  <%= form.submit "Save", class: "border border-2 cursor-pointer rounded px-2 font-semibold hover:bg-gray-200" %>
</div>
