<%= form_with(
  model: gig,
  class: "text-sm",
  data: {
    controller: "places",
    action: "google-maps-callback@window->places#initMap"
  }
) do |form| %>
  <%= render 'shared/error_messages', record: gig %>

  <div class="mb-3">
    <%= form.label :summary do %>
      Summary*
    <% end %>
    <%= form.text_field :summary, required: true, class: "w-full" %>
  </div>

  <div class="mb-3 flex justify-between">
    <div>
      <%= form.label :start_date do %>
        Start date*
      <% end %>
      <%= form.date_field :start_date, required: true %>
    </div>

    <div>
      <%= form.label :end_date do %>
        End date (optional)
      <% end %>
      <%= form.date_field :end_date %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :location do %>
      Location*
    <% end %>
    <%= form.text_field :location, required: true, class: "w-full", "data-places-target": "field" %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Save", class: "border border-2 cursor-pointer rounded px-2 font-semibold hover:bg-gray-200" %>
  </div>
<% end %>
