<%= form_with(
  model: gig,
  class: "text-sm",
  data: {
    controller: "gig-form link-form",
    action: "google-maps-callback@window->gig-form#initMap"
  }
) do |form| %>
  <%= render 'shared/error_messages', record: gig %>

  <% unless @gig.id.present? %>
    <%= form.fields_for :links, @gig.links.build do |link_form| %>
      <div class="p-2 my-6 rounded bg-slate-100 dark:bg-slate-800" %>
        <h3 class="mb-2 font-semibold">Include a link (optional)</h3>
        <%= link_form.hidden_field :user_id, value: current_user.id %>
        <%= render 'links/form_fields', form: link_form %>
      </div>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= form.label :summary, "Summary*" %>
    <%= form.text_field :summary,
      required: true,
      spellcheck: false,
      autocomplete: "off",
      "data-link-form-target": "summary",
      class: "w-full p-1 dark:bg-slate-900"
    %>
  </div>

  <fieldset class="flex flex-wrap justify-between gap-2 mb-3">
    <div class="flex items-center justify-between flex-1 gap-x-6 sm:block sm:flex-none">
      <%= form.label :start_date, "Start*" %>
      <%= form.date_field :start_date,
        value: gig.start_date.nil? ? DateTime.now.strftime("%Y-%m-%d") : gig.start_date,
        required: true,
        "data-action": "change->gig-form#setEndDate",
        "data-link-form-target": "startDate",
        class: "p-1 dark:bg-slate-900 dark:[color-scheme:dark]"
      %>
    </div>

    <div class="flex items-center justify-between flex-1 gap-x-6 sm:block sm:flex-none">
      <%= form.label :end_date, "End (optional)" %>
      <%= form.date_field :end_date,
        value: gig.end_date.nil? ? DateTime.now.strftime("%Y-%m-%d") : gig.end_date,
        "data-gig-form-target": "endDate",
        "data-link-form-target": "endDate",
        class: "p-1 dark:bg-slate-900 dark:[color-scheme:dark]"
      %>
    </div>
  </fieldset>

  <div class="mb-3">
    <%= form.label :location, "Location*" %>
    <%= form.text_field :location,
      required: true,
      list: "venues",
      class: "w-full p-1 dark:bg-slate-900",
      "data-gig-form-target": "field",
      "data-link-form-target": "location"
    %>
    <% if local_assigns[:venues] %>
      <datalist id="venues">
        <%= venues.each do |venue| %>
          <option value="<%= venue %>"><%= venue %></option>
        <% end %>
      </datalist>
    <% end %>
  </div>

  <% unless @gig.id.present? %>
    <%= form.fields_for :responses, @gig.responses.build do |response_form| %>
      <div class="flex items-center justify-between p-2 my-6 rounded bg-slate-100 dark:bg-slate-800" %>
        <h3 class="font-semibold">Add your response (optional)</h3>
        <%= response_form.hidden_field :user_id, value: current_user.id %>
        <%= response_form.select :status, ["Not going", "Interested", "Going"], {}, class: "text-sm py-1 rounded dark:bg-slate-900" %>
      </div>
    <% end %>
  <% end %>

  <div class="flex justify-end">
    <%= form.submit "Save", class: "border border-2 dark:border-gray-700 cursor-pointer rounded text-base px-2 font-semibold hover:bg-gray-200 dark:hover:bg-gray-700" %>
  </div>
<% end %>
