<div class="mb-4 flex">
  <div class="flex items-center mr-2">
    <%= render 'gigs/date_box', date: gig.start_date, diff_months: gig.multimonth? %>
    <% if gig.end_date.present? && gig.end_date != gig.start_date %>
      <%= heroicon "arrow-right", variant: :mini, options: { class: "w-4 h-4" } %>
      <%= render 'gigs/date_box', date: gig.end_date, diff_months: gig.multimonth?  %>
    <% end %>
  </div>
  <div class="sm:w-full sm:flex items-center justify-between">
    <div>
      <%= link_to gig.summary, gig_path(gig.id), class: "font-semibold hover:text-blue-700 dark:hover:text-blue-400" %>
      <span class="hidden sm:flex">
        <%= render 'responses/list', responses: going, inc_self: going.where(user_id: current_user.id).present?, status: "going" %>
          <% if going.any? && interested.any? %>
            <span class="mx-1">•</span>
          <% end %>
        <%= render 'responses/list', responses: interested, inc_self: interested.where(user_id: current_user.id).present?, status: "interested" %>
      </span>
    </div>
    <% unless local_assigns[:hide_venue] %>
      <%= link_to venue_path(gig.location) do %>
        <span class="text-xs sm:text-sm flex items-center text-nowrap hover:text-blue-700 dark:hover:text-blue-400">
          <%= heroicon "map-pin", variant: :outline, options: { class: "w-4 h-4" } %>
          <%= gig.location.split(", ")[0] %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="ml-auto sm:hidden">
    <% if going.where(user_id: current_user.id).present? %>
      <%= heroicon "check-circle", variant: :mini, options: { class: "w-6 h-6 text-green-600" } %>
    <% elsif interested.where(user_id: current_user.id).present? %>
      <%= heroicon "star", variant: :mini, options: { class: "w-6 h-6 text-yellow-600" } %>
    <% end %>
  </div>
</div>
