<% if links.any? %>
  <div class="flex flex-wrap items-center justify-between mt-5">
    <h2 class="text-xs uppercase">More info:</h2>
    <%= link_to new_gig_link_path(@gig.id), class: "flex items-center text-sm font-semibold text-blue-700 dark:text-blue-400 hover:underline" do %>
      <%= heroicon "plus", variant: :outline, options: { class: "w-4 h-4" } %>
      Add link
    <% end %>
  </div>
  
  <ul>
    <% links.each do |link| %>
      <li class="flex items-center justify-between my-2">
        <div class="max-w-[80vw]">
          <%= render 'layouts/external_link', link: link.url, label: link.text.presence || link.url %>
        </div>
        <% if link.user_id == current_user.id %>
          <%= link_to gig_link_path(@gig, link), "aria-label": "Delete link", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this link?" }, class: "text-xs" do %>
            <%= heroicon "trash", options: { class: "w-4 h-4" } %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to new_gig_link_path(@gig.id), class: "flex items-center text-sm font-semibold text-blue-700 dark:text-blue-400 hover:underline" do %>
    <%= heroicon "plus", variant: :outline, options: { class: "w-4 h-4" } %>
    Add link
  <% end %>
<% end %>
