<% if links.any? %>
  <div class="flex flex-wrap justify-between items-center mt-4">
    <h2 class="text-xs uppercase">More info:</h2>
    <%= link_to new_gig_link_path(@gig.id), class: "flex items-center text-sm font-semibold text-blue-700 dark:text-blue-400 hover:underline" do %>
      <%= heroicon "plus", variant: :outline, options: { class: "w-4 h-4" } %>
      Add link
    <% end %>
  </div>
  
  <ul>
    <% links.each do |link| %>
      <li>
        <%= render 'layouts/external_link', link: link.url, label: link.text.presence || link.url %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to new_gig_link_path(@gig.id), class: "flex items-center text-sm font-semibold text-blue-700 dark:text-blue-400 hover:underline" do %>
    <%= heroicon "plus", variant: :outline, options: { class: "w-4 h-4" } %>
    Add link
  <% end %>
<% end %>
