<% if posts.any? %>
  <ul class="my-6 p-2 border">
    <% posts.each do |post| %>
      <li>
        <% if post.user_id == current_user.id %>
          <div class="my-2 flex flex-col items-end" do %>
            <div class="p-2 rounded bg-blue-200">
              <p class="text-sm"><%= post.text %></p>
            </div>
            <p class="text-xs italic"><%= format_datetime(post.created_at) %></p>
          </div>
        <% else %>
          <div class="my-2 flex flex-col items-start">
            <div class="p-2 rounded bg-gray-200">
              <div class="text-xs flex items-center">
                <%= render 'layouts/user', user: post.user %>
              </div>
              <p class="text-sm"><%= post.text %></p>
            </div>
            <p class="text-xs italic"><%= format_datetime(post.created_at) %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
