<% if responses.any? %>
  <div class="flex items-center">
    <% if responses.where(user_id: current_user.id).present? %>
      <% if status == "going" %>
        <%= heroicon "check-circle", variant: :mini, options: { class: "w-5 h-5 text-green-600 -mr-1" } %>
      <% else %>
        <%= heroicon "star", variant: :mini, options: { class: "w-4 h-4 text-yellow-600 -mr-1" } %>
      <% end %>
    <% end %>
    <% responses.where.not(user_id: current_user.id).each do |response| %>
      <%= image_tag response.user.image, class: "rounded-full h-4 w-4 -mr-1" %>
    <% end %>
    <span class="text-xs ml-2">
      <% if responses.where(user_id: current_user.id).present? %>
        You
        <% if responses.count > 1 %>
          <%= " & #{responses.count - 1} other#{responses.count > 2 ? "s" : ""}" %> <%= status %>
        <% else %>
          <%= " are #{status}" %>
        <% end %>
      <% else %>
        <%= responses.count %> <%= status %>
      <% end %>
    </span>
  </div>
<% end %>
