<% if current_user.present? %>
  <h1 class="text-xl font-bold mb-6">Upcoming gigs</h1>
  <ul>
    <% @gigs.each do |gig| %>
      <li class="mb-4">
        <%= link_to gig.summary, gig_path(gig.id), class: "font-semibold" %>
        <p class="text-sm italic">
          <% if gig.start.date.present? %>
            <%= gig.start.date.strftime("%a %d %b") %>
          <% elsif gig.start.date_time.present? %>
            <%= gig.start.date_time.strftime("%a %d %b") %>
          <% end %>
        </p>
        <p class="text-sm"><%= gig.location.split(", ")[0] unless gig.location.nil? %></p>
      </li>
    <% end %>
  </ul>  
<% else %>
  <%= form_tag("/auth/google_oauth2", method: :post, data: { turbo: "false" }) do %>
    <button type="submit">Log in with Google</button>
  <% end %>
<% end %>
