<div class="flex flex-wrap justify-between items-start">
  <div class="mb-2">
    <h1 class="font-semibold text-xl"><%= @gig.summary %></h1>
    <p class="text-xs sm:text-sm my-1 italic flex items-center">
      <%= heroicon "calendar-days", variant: :mini, options: { class: "w-5 h-5 mr-1 sm:mr-2" } %>
      <%= format_gig_dates(@gig) %>
    </p>
    <%= link_to venue_path(@gig.location), class: "text-xs sm:text-sm mb-3 flex items-center hover:text-blue-700"  do %>
      <%= heroicon "map-pin", variant: :outline, options: { class: "w-5 h-5 mr-1 sm:mr-2" } %>
      <%= @gig.location %>
    <% end %>
    <%= render 'user_list', users: @going, status: "going" %>
    <%= render 'user_list', users: @interested, status: "interested" %>
  </div>

  <div class="flex flex-col items-end ml-auto">
    <% if @gig.user_id == current_user.id %>
      <%= link_to edit_gig_path(@gig.id), class: "flex items-center font-semibold text-blue-700 hover:underline" do %>
        <%= heroicon "pencil", variant: :outline, options: { class: "w-4 h-4 mr-1" } %>
        Edit gig
      <% end %>
    <% else %>
      <p class="text-xs">Added by <%= @gig.user.name %></p>
    <% end %>

    <%= form_with(model: @response, class: "flex items-center my-2") do |form| %>
      <%= form.hidden_field :gig_id, value: @gig.id %>
      <%= form.select :status, ["Not going", "Interested", "Going"], {}, class: "text-sm py-1 rounded" %>
      <%= form.submit @response.id.present? ? "Update" : "Save", class: "border border-2 cursor-pointer rounded px-2 py-1 ml-auto text-sm font-semibold hover:bg-gray-200" %>
    <% end %>
  </div>
</div>

<%= render 'link_list', links: @gig.links %>

<%= render 'clash_list', clashes: @clashes, gig: @gig %>

<%= render 'posts/list', posts_by_date: @posts_by_date %>

<div class="my-4">
  <%= render 'posts/form', post: @post, gig: @gig, parent_post: @parent_post %>
</div>
