<h1 class="font-semibold text-xl"><%= @gig.summary %></h1>
<p class="italic">
  <% if @gig.start.date.present? %>
    <%= @gig.start.date.strftime("%a %d %b") %>
  <% elsif @gig.start.date_time.present? %>
    <%= @gig.start.date_time.strftime("%a %d %b at %H:%M") %>
  <% end %>
</p>
<p><%= @gig.location %></p>

<ul class="my-20">
  <% @posts.each do |post| %>
    <li>
      <p><%= post.text %></p>
      <p class="text-sm"><%= post.user.name %></p>
      <p class="text-sm italic"><%= post.created_at.strftime("%a %d %b %H:%M") %></p>
    </li>
  <% end %>
</ul>

<div class="mt-20">
  <%= form_for(:post, url: posts_path) do |form| %>
    <%= form.hidden_field :gig_id, value: @gig.id %>
    <%= form.text_area :text %>

    <button type="submit">Add post</button>
  <% end %>
</div>
