<h1 class="font-semibold text-xl"><%= @gig.summary %></h1>
<p class="italic">
  <% if @gig.start.date.present? %>
    <%= @gig.start.date.strftime("%a %d %b") %>
  <% elsif @gig.start.date_time.present? %>
    <%= @gig.start.date_time.strftime("%a %d %b at %H:%M") %>
  <% end %>
</p>
<p><%= @gig.location %></p>

<% if @posts.any? %>
  <ul class="mt-6 p-2 border">
    <% @posts.each do |post| %>
      <li class="my-3 flex flex-col <%= post.user_id == current_user.id ? 'items-end' : 'items-start'  %>">
        <div class="p-2 rounded <%= post.user_id == current_user.id ? 'bg-blue-200' : 'bg-gray-200' %>">
          <% if post.user_id != current_user.id %>
            <p class="text-xs"><%= post.user.name %></p>
          <% end %>
          <p><%= post.text %></p>
        </div>
        <p class="text-xs italic"><%= post.created_at.strftime("%a %d %b %H:%M") %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="my-6">
  <%= form_for(:post, url: posts_path, remote: true, class: "flex flex-col items-end") do |form| %>
    <%= form.hidden_field :gig_id, value: @gig.id %>
    <%= form.text_area :text, class: "w-full", required: true %>

    <%= submit_tag "Add post", class: "border border-2 cursor-pointer rounded px-2 mt-2 ml-auto font-semibold hover:bg-gray-200" %>
  <% end %>
</div>
