<li class="items-center justify-between p-2 mb-2 rounded sm:w-full sm:flex bg-slate-200 dark:bg-slate-700">
  <div>
    <%= link_to gig.summary, gig_path(gig.id, back: profile_path), class: "font-semibold hover:text-blue-700 dark:hover:text-blue-400" %>
    <p class="flex items-center my-1 text-xs italic sm:text-sm">
      <%= heroicon "calendar-days", variant: :mini, options: { class: "w-5 h-5 mr-1 sm:mr-2" } %>
      <%= format_gig_dates(gig) %>
    </p>
  </div>
  <%= link_to venue_path(gig.location.gsub(".", ""), back: profile_path) do %>
    <span class="flex items-center text-xs sm:text-sm text-nowrap hover:text-blue-700 dark:hover:text-blue-400">
      <%= heroicon "map-pin", variant: :outline, options: { class: "w-4 h-4" } %>
      <%= gig.location.split(", ")[0] %>
    </span>
  <% end %>
</li>
