<% if current_user.present? %>
  <div class="flex flex-col items-center my-12">
    <%= image_tag current_user.image, class: "rounded-full h-20 w-20" %>
    <h1><%= current_user.name %></h1>
    <p><%= current_user.email %></p>
  </div>
<% end %>

<div
  data-controller="tabs"
  data-tabs-active-class="bg-slate-200 text-slate-900 dark:bg-slate-700 dark:text-slate-50"
  data-tabs-inactive-class="bg-slate-100 dark:bg-slate-800 text-gray-500"
  data-tabs-default-tab-value="interested"
>
  <div class="flex gap-x-4 mb-2">
    <button id="interested" data-tabs-target="btn" data-action="click->tabs#select" class="flex items-center px-3 py-1 rounded">
      <%= heroicon "star", variant: :mini, options: { class: "w-4 h-4 mr-1" } %>
      Interested
    </button>
    <button id="going" data-tabs-target="btn" data-action="click->tabs#select" class="flex items-center px-3 py-1 rounded">
  <%= heroicon "check-circle", variant: :mini, options: { class: "w-4 h-4 mr-1" } %>
      Going
    </button>
  </div>

  <div data-tabs-target="tab" id="interested">
    <% if @interested.any? %>
      <ul>
        <% @interested.each do |response| %>
          <%= render 'gig', gig: response.gig %>
        <% end %>
      </ul>
    <% end %>
    <%= paginate(@interested) %>
  </div>

  <div data-tabs-target="tab" id="going">
    <% if @going.any? %>
      <ul>
        <% @going.each do |response| %>
          <%= render 'gig', gig: response.gig %>
        <% end %>
      </ul>
    <% end %>
    <%= paginate(@going) %>
  </div>
</div>
