<nav class="px-8 py-3 sm:py-4 text-sm sm:text-md flex justify-between bg-blue-400 dark:bg-blue-600 sticky top-0">
  <%= render 'layouts/nav_link', path: root_path, icon: "list-bullet", title: "Feed" %>
  <%= render 'layouts/nav_link', path: gigs_path, icon: "calendar-days", title: "Gigs" %>
  <%= render 'layouts/nav_link', path: venues_path, icon: "map-pin", title: "Venues" %>
  <%= render 'layouts/nav_link', path: profile_path, icon: "user-circle", title: "Profile" %>
  <%= render 'layouts/nav_link', path: logout_path, icon: "arrow-right-on-rectangle", title: "Log out" %>
</nav>
