<nav class="sticky top-0 z-50 flex justify-between px-8 py-3 text-sm bg-blue-400 sm:py-4 sm:text-md dark:bg-blue-600">
  <%= render 'layouts/nav_link', path: root_path, icon: "list-bullet", title: "Feed" %>
  <%= render 'layouts/nav_link', path: gigs_path, icon: "musical-note", title: "Gigs" %>
  <%= render 'layouts/nav_link', path: calendar_path, icon: "calendar-days", title: "Calendar" %>
  <%= render 'layouts/nav_link', path: venues_path, icon: "map-pin", title: "Venues" %>
  <%= render 'layouts/nav_link', path: profile_path, icon: "user-circle", title: "Profile" %>
  <%= render 'layouts/nav_link', path: logout_path, icon: "arrow-right-on-rectangle", title: "Log out" %>
</nav>
