<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrizGigList</title>
    <meta name="description" content="Information and discussion about gigs in Bristol">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&loading=async&libraries=places&callback=initMap"
    >
    </script>
  </head>

  <body class="bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50">
    <% if current_user.present? %>
      <%= render 'layouts/nav' %>
    <% end %>
    <main class="px-5 mx-auto my-12 lg:mx-32 xl:max-w-screen-lg xl:mx-auto">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
