<!DOCTYPE html>
<html>
  <head>
    <title>BrizGigList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&loading=async&libraries=places&callback=initMap"
    >
    </script>
  </head>

  <body>
    <% if current_user.present? %>
      <%= render 'layouts/nav' %>
    <% end %>
    <main class="container mx-auto my-12 px-5">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
